/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background: #ffcccb; /* Rojo claro */
    color: #fff;
    padding: 10px 0;
    text-align: center; /* Centra el contenido del encabezado */
}

header h1 {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente del título */
    color: #003366; /* Color del texto del título */
    margin: 0;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #003366; /* Color del enlace en el encabezado */
    text-decoration: none;
}

/* Sección */
section {
    padding: 20px 0;
}

h2 {
    border-bottom: 2px solid #003366; /* Color de la línea debajo del título */
    padding-bottom: 10px;
    color: #003366; /* Color del texto del título de la sección */
}

/* Imagen del logo */
.logo {
    width: 50%; /* Reduzca el tamaño de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 150px; /* Opcional: Establece un tamaño máximo para evitar que la imagen sea demasiado grande */
}

.event-image {
    width: 30%; /* Ajusta el tamaño al ancho del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-top: 20px; /* Espacio superior */
    border-radius: 8px; /* Bordes redondeados opcionales */
}

/* Formulario */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: #003366; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #002244; /* Color del botón al pasar el ratón */
}

/* Footer */
footer {
    background: #003366; /* Color del pie de página */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
